* {
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.header {
    width: 100%;
    height: 15vh;
    background-color:#841617;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_left, .header_right {
    padding: 0 0 0 1vw;
    flex: 1;
}

.header_left i {
    color: #181818;
}

.header img {
    width: auto;
    height: 10vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 25px 70px 25px;
    background: #181818;
    min-height: 85vh;
    width: 100%;
}

.container form {
    padding: 20px;
    width: 650px;
    background: brown;
}

.container form .row .col .title{
    font-size: 20px;
    color: #e4e4e4;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.container form .row .col .inputBox {
    margin: 15px 0;
    color: #e4e4e4;
}

.container form .row .col span {
    margin-bottom: 5px;
    display: block;
}

.container form .row .col .inputBox input {
    width: 100%;
    border: 1px solid #363636;
    padding: 10px;
    font-size: 15px;
    text-transform: none;
}

.container form .row .col .inputBox input:focus {
    border: 1px solid #000
}

.container form .row .col .flex {
    display: flex;
}

.container form .row .col .flex .inputBox {
    margin-top: 5px;
}

.container form .row .col .inputBox img {
    height: 50px;
    margin-top: 5px;
}

.container form .submit-btn {
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.2);
    color: #e4e4e4;
    margin-top: 5px;
    cursor: pointer;
}

.container form .submit-btn:hover {
    background: #660000;
}

.containerInfo {
    width: 330px;
    background: brown;
    margin-left: 60px;
    bottom: 700px;
    position: sticky;
    top: 50px;
    min-height: 10vh;
}

.containerInfo h3 {
    color: #e4e4e4;
    padding-left: 15px;
    margin: 10px 0;
}

.tableInfo {
    margin-bottom: 10px;
    color: #e4e4e4;
}

footer {
    width: 100%;
    min-height: 15vh;
    background-color: #841617;
    overflow: hidden;
}

.impressum {
    float: left;
    padding: 0.3vh 0 0 1.5vh;
}

.impressum2, .impressum3 {
    float: left;
    padding: 0.3vh 0 0 7.5vw;
}

.oeffnungszeiten {
    float: right;
    padding: 0.3vh 3vw 0 0;
}

.oeffnungszeiten h4 {
    font-weight: 500;
}

.row-footer {
    display: flex;
    margin-left: -15px;
}
  
.column {
    flex: 50%;
    padding: 2px;
    margin-left: 15px;
}

th,td {
    text-align: left;
    white-space: nowrap;
}

td {
    padding-left: 15px;
    font-weight: 400;
}